@use "./variables" as *;
@use "../utils" as u;

p,
span {
  font-family: $font-primary;
  font-size: 14px;
  @include u.mq(md) {
    font-size: $font-size-text;
  }
  color: $text-col;
}

// Headings
h1 {
  font-family: $font-secondary;
  font-weight: bold;
  font-size: 40px;
  @include u.mq(lg) {
    font-size: 60px;
  }
  @include u.mq(2xl) {
    font-size: 84px;
  }
  color: $heading-col;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  color: $heading2-col;
}

h2 {
  font-size: $font-size-heading;
}
