@use "./fonts";

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// colors

$primary-col: #fff1da;
$custom-orange-col: #f1a501;
$custom-red-col: #df6951;
$heading-col: #181e4b;
$heading2-col: #14183e;
$text-col: #5e6282;
$links-col: #212832;

//font-sizes

$font-size-heading: 50px;
$font-size-small-heading: 18px;
$font-size-text: 16px;

//font-families

$font-primary: "Poppins", "sans-serif";
$font-secondary: "Volkhov", "sans-serif";

//border-radiuses

$br-sm: 13px;
$br-md: 24px;
$br-full: 100%;

//transitions

$main-trans: all ease-out 0.3s;

//breakpoints

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);
